name: Build and Push OHIF Viewer

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and Push OHIF Viewer Image
        run: |
          COMPOSE_FILE="platform/app/.recipes/Nginx-Dcm4chee-Keycloak/docker-compose.yml"
          IMAGE_TAG="${{ secrets.DOCKERHUB_USERNAME }}/slate-ohif-webapp:latest"

          docker compose -f $COMPOSE_FILE build --no-cache ohif_viewer
          
          IMAGE_ID=$(docker images -q slate_ohif_viewer)
          docker tag $IMAGE_ID $IMAGE_TAG
          
          docker push $IMAGE_TAG

      - name: Logout
        run: docker logout
